*{
    margin: o;
    padding: 0;
}

body{
    background-color: #cdb4db;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.container{ 
    display: grid;
    place-items: center;
}
.game{
    height: 12.0rem;
    width: 12.0rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 50px;
    width: 50px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #b467e1;
    font-size: 25px;
    color: #004e89;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

